* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: Ivory;
}

h1 {
  text-align: center;
}

p.score {
  text-align: center;
  color: DodgerBlue;
  font-size: 20px;
}

div.main {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

div.description {
  width: 210px;
  float: left;
  padding: 10px;
}

div.tetris {
  width: 250px;
  float: left;
  padding: 10px;
}

div.next.brick {
  width: 210px;
  float: left;
  padding: 10px;
}

/* Clear floats */
div.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

table.tetris {
  border: 4px solid DodgerBlue;
  border-radius: 5px;
}

table.next.brick {
  border: 4px solid DodgerBlue;
  padding: 20px;
  border-radius: 5px;
}

td.tetris {
  width: 20px;
}

tr.tetris {
  height: 20px;
}

table.control {
}

td.control {
  padding-left: 5px;
  padding-right: 5px;
}

button {
  background-color: DodgerBlue;
  color: white;
  font-size: 20px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
}

button.control {
  width: 50px;
}

button.pauserestart {
  padding-left: 15px;
  padding-right: 15px;
}
